* {
    margin: 0;
    padding: 0;
}

#wrapper {
    /* 홈페이지 중앙 정렬 */
    width: 1000px;
    margin: 0 auto;
}

html {
    width: 100%;
}

body {
    max-width: 100%;
    background: #FEFBEA;
    margin: 0 auto;
    -ms-overflow-style: none;
}

.content {
    margin-top: 130px;
    justify-content: center;
    gap: 10%;
    display: flex;
}

img {
    /* 사장님 이미지 */
    width: 300px;
    height: 420px;
    vertical-align: top;
    float: right;
    object-fit: cover;
    object-position: 50% 50%;
}

.img {
    display: flex;
    flex-direction: column;
    justify-content: right;
    gap: 10px;
    width: 350px;
    background-color: #fdf4c7;
}

.text {
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    gap: 100px;
    background-color: #fdc29a;
    padding: 30px;

}

.title-text {
    width: 300px;
    height: 25px;
    display: flex;
    margin-left: 40px;
    margin-bottom: 80px;
}

.section-title {
    /*스토리가 궁금하다면?*/
    text-align: center;
    color: #000;
    text-transform: uppercase;
    font-weight: normal;
    margin-top: 60px;
}

p.bold-title {
    font-size: 38px;
    font-weight: 800;
    line-height: 75%;
}

.info {
    font-size: 31px;
}

.manager-name {
    text-align: right;
    font-size: 19px;
    font-weight: bold;
}

.motto {
    margin-top: 8%;
    width: 400px;
    margin-left: 40px;
    font-size: 18px;
    font-weight: 500;
    display: block;
    color: #5b5b5b;
}

.container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    min-height: 100vh;
}


.story-right {
    float: right;
    width: 45%;
    background-color: #fdf4c7;
    margin-top: 60px;
    margin-bottom: 50px;
    padding: 25px;
    padding-left: 40px;
    padding-right: 70px;

    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: flex-start;
}

.story-left {
    float: right;
    width: 45%;
    background-color: #fdc29a;
    margin-top: 60px;
    margin-bottom: 50px;
    padding: 25px;
    padding-right: 40px;
    padding-left: 70px;

    display: flex;
    flex-direction: column;
    text-align: right;
    justify-content: center;
    align-items: flex-end;
}

.story-container-right {
    width: 100%;
    display: flex;
    justify-content: right;
}

.story-container-left {
    width: 100%;
    display: flex;
    justify-content: left;
}

.answer-title {
    font-weight: 600;
}

.question {
    margin-bottom: 14px;
    font-size: 17px;
}

::-webkit-scrollbar {
    display: none;
}

/* nav */
header {
    background-color: #FEFBEA;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 100;
}

.nav {
    display: flex;
    justify-content: center;
    gap: 45px;
    align-items: center;
    height: 75px;
}

.nav a {
    text-decoration: none;
    color: #b29f35;
    font-size: 20px;

}

/* tablet */
@media screen and (min-width:768px) and (max-width: 1023px) {
    body {
        max-width: 100%;
        background-color: #FEFBEA;
        -ms-overflow-style: none;
    }

    img {
        width: 250px;
        height: 370px;
        vertical-align: top;
        float: right;
    }
}

/* footer */
footer {
    position: relative;
    height: 50px;
    border-top: 1px solid #c4c4c4;
    color: #000000;
    margin: 0 auto;
    font-family: 'Noto Sans KR', 'Arial', sans-serif;
}

.foot-wrap {
    position: relative;
    font-family: 'Noto Sans KR', 'Arial', sans-serif;
    font-weight: 400;
    padding-bottom: 20px;
}

.foot-wrap footer {
    margin: 0 auto;
    padding: 10px;
    font-size: 14px;
}

.foot-wrap footer span {
    display: inline-block;
    border-right: 1px solid #fff;
    padding-right: 13px;
    margin-right: 13px;
    font-weight: 200;
    line-height: 1;
    margin-bottom: 10px;
}

.foot-wrap .address strong {
    font-weight: 300;
}

.foot-wrap .address .copy {
    font-weight: 200;
}

@media (max-width:480px) {
    p.bold-title {
        padding-top: 45px;
        font-size: 18px;
        font-weight: bold;
        line-height: 75%;
    }
    
    .info {
        font-size: 15px;
    }

    .img {
        display: flex;
        flex-direction: column;
        justify-content: right;
        gap: 10px;
        width: 230px;
        background-color: #fdf4c7;
    }

    img {
        /* 사장님 이미지 */
        width: 190px;
        height: 320px;
        vertical-align: top;
        float: right;
        object-fit: cover;
        object-position: 50% 50%;
    }


    .manager-name {
        text-align: right;
        font-size: 14px;
        font-weight: bold;
    }

    .question {
        margin-bottom: 14px;
        font-size: 13px;
    }

    .question-answer {
        font-size: 13px;
    }

    .story-right {
        float: right;
        width: 52%;
    }

    .story-left {
        float: right;
        width: 60%;
        padding-left: 50px;
    }

    .text {
        margin-top: 3%;
        display: flex;
        flex-direction: column;
        gap: 90px;
        background-color: #fdc29a;
        padding: 30px;
    }

    .section-title {
        font-size: 20px;
    }

    .nav a {
        font-size: 15px;
    }

    footer p {
        font-size: 12px;
    }
}