body {
    max-width: 100%;
    background-color: #FEFBEA;
}

header {
    background-color: #FEFBEA;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 100;
}

/* nav */
.nav {
    display: flex;
    justify-content: center;
    gap: 45px;
    align-items: center;
    height: 75px;
}

.nav a {
    text-decoration: none;
    color: #b29f35;
    font-size: 20px;
}

/* nav end */

/* 내용 */
::-webkit-scrollbar {
    display: none;
}

.logo {
    padding-bottom: 2%;
}

#demo {
    margin: 0 auto;
    margin-top: 50px;
}

.carousel-item {
    opacity: 0.5;
    width: 100%;
}

.carousel-inner {
    max-width: 100%;
    height: 700px;
    margin: 0 auto;
}

.d-block {
    max-height: 100%;
}

.overlayout {
    cursor: pointer;
    position: absolute;
    top: 35%;
    left: 24%;
    border: transparent;
    color: #8d5e3f;
    font-size: 11vw;
    font-weight: 600;
    display: flex;
    background-color: rgba(255, 255, 255, 0.25);
    justify-content: center;
    align-items: center;
    font-family: 'Gugi', cursive;
}

/* 하위내용 */

.line {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

hr {
    width: 100px;
}

h5 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
    font-weight: bold;
}

#youtube {
    text-align: center;
    margin-top: 100px;
}

.map {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 100px;
}

.middle {
    max-width: 100%;
}

/* footer */
footer {
    position: relative;
    height: 50px;
    border-top: 1px solid #c4c4c4;
    margin: 0 auto;
    font-family: 'Noto Sans KR', 'Arial', sans-serif;
}

.foot-wrap {
    position: relative;
    font-family: 'Noto Sans KR', 'Arial', sans-serif;
    font-weight: 400;
    height: 91px;
    padding-bottom: 20px;
}

.foot-wrap footer {
    width: 100%;
    font-size: 14px;
}

footer .inner-footer {
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 15%;
}

.foot-wrap footer span {
    display: inline-block;
    border-right: 1px solid #fff;
    padding-right: 13px;
    margin-right: 13px;
    font-weight: 200;
    line-height: 1;
    margin-bottom: 10px;
}

.foot-wrap .address strong {
    font-weight: 300;
}

.foot-wrap .address .copy {
    font-weight: 200;
}

b,
strong {
    font-weight: bold;
}

/* tablet size */
@media (max-width:780px) {

    /* title */
    .overlayout {
        top: 25%;
    }

    h5,
    .line {
        font-size: 16px;
    }

    iframe {
        width: 90vw;
    }

    #youtube,
    .map {
        padding: 20px;
        margin-top: 20px;
    }

    /* nav */
    .nav {
        gap: 25px;
        height: 70px;
    }

    .nav a {
        font-size: 18px;
    }
}

/* phone size */
@media (max-width:480px) {

    h5,
    .line {
        font-size: 16px;
    }

    iframe,
    .map {
        width: 100%;
    }

    #youtube,
    .map {
        padding: 20px;
        margin-top: 20px;
    }

    .overlayout {
        top: 35%;

    }

    /* nav */
    .nav {
        gap: 15px;
        height: 50px;
    }

    .nav a {
        font-size: 16px;
    }

    .carousel-inner {
        height: 400px;
    }

    /* footer */
    footer p {
        font-size: 12px;
    }

    /* hr */
}