body {
    max-width: 100%;
    background-color: #FEFBEA;
}

header {
    background-color: black;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 100;
}

::-webkit-scrollbar {
    display: none;
}

.logo {
    padding-bottom: 2%;
}

.궁서 {
    font-family: "궁서";
    color: #FF7E00;
    font-size: 50px;
}

#demo {
    margin: 0 auto;
    margin-top: 160px;
}

.carousel-item {
    width: 100%;
}

.carousel-inner {
    max-width: 1000px;
    margin: 0 auto;
}

/* nav */
.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    height: 160px;
    display: flex;
    /* 기본값: 수평 방향 */
    justify-content: space-between;
    /* 양쪽 정렬 */
    align-items: center;
    /* 교차축(수직의) 가운데 */
}

.nav-link {
    text-decoration-line: none;
    color: #EB701D;
}

ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    font-size: 17px;
    margin-top: 50%;
}

.nav-menu {
    max-width: 100%;
    position: absolute;
    padding-right: 2.5%;
}

.nav-list {
    display: flex;
    /* 기본값: 수평 방향 */
    column-gap: 3rem;
    /* 20px */
}

.line {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    text-underline-position: under;
}

h5 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15%;
    font-weight: bold;
}

.map {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}