/* base */
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #FEFBEA;
}

::-webkit-scrollbar {
    display: none;
}

/* 메뉴 제목 */
.title {
    display: flex;
    justify-content: center;
}

#title-Menu {
    background-color: #fdf4c7;
    margin-top: 65px;
    margin-bottom: 55px;
    font-size: 80px;
    color: #7b421b;
    font-family: 'Red Hat Display', sans-serif;
}

/* menu 정렬 */
.menu {
    /* 정렬 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    /* margin */
    margin-bottom: 100px;
}

.menu-container {
    display: flex;
    flex-direction: column;

    /* gap */
    row-gap: 30px;
}

.menu-p-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    /* gap*/
    column-gap: 50px;
    row-gap: 50px;

    /* box size */
    width: 250px;
}

/* menu 내용 */

.line {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 35px;
}

hr {
    width: 70px;
}


.menu-p-p {
    font-size: 14px;
    text-align: center;
    margin-bottom: 13px;
}

.menu-p-container h3 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 3px;
}

.menu-p-price {
    font-size: 16px;
    text-align: center;
    font-weight: 300;
}

.menu-container-container {
    display: flex;
    column-gap: 25px;
}

.menu-img {
    width: 200px;
    height: 150px;
    object-fit: cover;
    border-radius: 50px;
    transition-duration: .5s;
}

.menu-type {
    font-size: 16px;
}

.menu-img:hover {
    transform: scale(1.2, 1.2);
    transition-duration: .5s;
}

/* nav */
header {
    background-color: #FEFBEA;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 100;
}

.nav {
    display: flex;
    justify-content: center;
    gap: 45px;
    align-items: center;
    height: 75px;
}

.nav a {
    text-decoration: none;
    color: #b29f35;
    font-size: 20px;

}


/* tablet */
@media screen and (min-width:768px) and (max-width: 1023px) {
    body {
        max-width: 100%;
        background-color: #FEFBEA;
        -ms-overflow-style: none;
    }
}



/* footer */
footer {
    position: relative;
    height: 50px;
    border-top: 1px solid #c4c4c4;
    margin: 0 auto;
    font-family: 'Noto Sans KR', 'Arial', sans-serif;
}

.foot-wrap {
    position: relative;
    font-family: 'Noto Sans KR', 'Arial', sans-serif;
    font-weight: 400;
    height: 91px;
    padding-bottom: 20px;
}

.foot-wrap footer {
    width: 100%;
    font-size: 14px;
}

footer .inner-footer {
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 15%;
}

.foot-wrap footer span {
    display: inline-block;
    border-right: 1px solid #fff;
    padding-right: 13px;
    margin-right: 13px;
    font-weight: 200;
    line-height: 1;
    margin-bottom: 10px;
}

.foot-wrap .address strong {
    font-weight: 300;
}

.foot-wrap .address .copy {
    font-weight: 200;
}

b,
strong {
    font-weight: bold;
}

@media (max-width:480px) {

    /* title */
    #title-Menu {
        font-size: 50px;
        margin-top: 60px;
        margin-bottom: 30px;
    }

    /* 메뉴 종류 */
    .menu-type,
    .hr {
        font-size: 12px;
    }

    /* 메뉴 사진*/
    .menu-img {
        width: 100px;
        height: 80px;
        border-radius: 30px;
    }

    /* 메뉴 글씨 */
    .menu-p-container h3 {
        font-size: 12px;
    }

    .menu-p-price {
        font-size: 10px;
    }

    .menu-p-container {
        column-gap: 30px;
    }

    .menu {
        margin-bottom: 70px;
    }

    /* nav */
    .nav {
        gap: 15px;
        height: 50px;
    }

    .nav a {
        font-size: 16px;
    }


    /* footer */
    footer p {
        font-size: 10px;
    }

    /* hr */
    hr {
        width: 45px;
    }
}